<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>PRL CIMS</title>
    
    
    <link rel="stylesheet" href="static/styles/bootstrap.css"/>
    <link rel="stylesheet" href="static/styles/fontawesome/all.min.css"/>
    <link rel="stylesheet" href="static/styles/fontawesome/fontawesome.min.css"/>
    <link rel="stylesheet" href="static/styles/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="static/styles/jquery_multiselect.css"/>
    <link rel="stylesheet" href="static/styles/jquery.modal.min.css" />

    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="static/js/sweetalert2@11.js"></script>
    <script src="static/js/jquery.modal.min.js"></script>
    <script src="static/js/download.min.js"></script>

    <style>
        html,
        body {
            background-image: url("static/img/background.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .table_layout {
            margin: auto;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 10px;
        }

        td {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        input,
        select {
            border-radius: 5px;
            border-width: 2px;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1 class="text-white p-2">PRL CIMS</h1>

    <table class="table_layout" id="items-table">
        <tr>
            {% block content %}
            <td colspan="2">
                <h3><span class="text-primary"><i class="fa fa-user" aria-hidden="true"></i> {{ current_user.username[0]|upper}}{{ current_user.username[1:]}}</span></h3>
            </td>
            <td align="right" colspan="2">
                <button class="btn btn-primary" onclick="location.href = '/change_password';""><i class="fas fa-key"></i> Change Password</button>
                <button class="btn btn-danger" onclick="signout()"><i class="fas fa-sign-out-alt"></i> Sign Out</button>
            </td>
            {% endblock %}
        </tr>
        
        <tr>
            <td><label>Custodian Pay Roll</label></td>
            <td colspan="2"><input  class="w-100" oninput="validateCustodian(this)" style="text-transform: uppercase" type="text" name="" id="custodian-payroll" data-identifer="qrcode-input"></td>
        </tr>

        <tr>
            <td colspan="4">
                <div class="alert alert-danger collapse text-center" role="alert" id="custodian-alert" >
                    Invalid Pay Roll Number !
                </div>
            </td>
        </tr>
        
        <tr>
            <td><label>Custodian Email</label></td>
            <td colspan="2"><input type="text" id="custodian-email" class="w-100"></td>
        </tr>

        <tr>
            <td><label>Custodian Name</label></td>
            <td colspan="2"><input type="text" id="custodian-name" class="w-100"></td>
        </tr>
        
        <tr>
            <td><label>Custodian Mob. No.</label></td>
            <td colspan="2"><input type="text" id="custodian-mobile" class="w-100" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');" /></td>
        </tr>
        
        <tr>
            <td><label>COINS PO No.</label></td>
            <td colspan="2"><input class="w-100" oninput="validatePONumber(this)" style="text-transform: uppercase" type="text" name="" id="coins-po-number" data-identifer="qrcode-input"></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="coins-po-number"></button></td>
        </tr>

        <tr>
            <td colspan="4">
                <div class="alert alert-danger collapse text-center" role="alert" id="po-alert">
                    Invalid COINS PO Number !
                </div>
            </td>
        </tr>

        <tr>
            <td><label>GeM PO No.</label></td>
            <td colspan="2"><input class="w-100" oninput="" style="text-transform: uppercase" type="text" name="" id="gem-po-number" data-identifer="qrcode-input"></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="gem-po-number"></button></td>
        </tr>

        <tr>
            <td><label>CPU</label></td>
            <td>
                <select id="cpu_list">
                    {% for cpu in  cpu_list %}
                    <option value="{{ cpu }}">{{ cpu }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="cpu" data-identifer="qrcode-input"></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="cpu"></button></td>
        </tr>

        <tr>
            <td> <label>Motherboard</label> </td>
            <td>
                <select id="motherboard_list" class="w-100">
                    {% for motherboard in  motherboard_list %}
                    <option value="{{ motherboard }}">{{ motherboard }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="motherboard" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="motherboard"></button></td>
        </tr>

        <tr>
            <td> <label>RAM</label> </td>
            <td>
                <select id="ram_list" class="w-100">
                    {% for ram in  ram_list %}
                    <option value="{{ ram }}">{{ ram }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="ram" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="ram"></button></td>
        </tr>

        <tr>
            <td> <label>HDD</label> </td>
            <td>
                <select id="harddisk_list" class="w-100">
                    {% for harddisk in  harddisk_list %}
                    <option value="{{ harddisk }}">{{ harddisk }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="hdd" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="hdd"></button></td>
        </tr>

        <tr>
            <td> <label>SSD</label> </td>
            <td>
                <select id="harddisk_list" class="w-100">
                    {% for harddisk in  harddisk_list %}
                    <option value="{{ harddisk }}">{{ harddisk }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="ssd" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="ssd"></button></td>
        </tr>

        <tr>
            <td> <label>SMPS</label> </td>
            <td>
                <select id="smps_list" class="w-100">
                    {% for smps in  smps_list %}
                    <option value="{{ smps }}">{{ smps }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="smps" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="smps"></button></td>
        </tr>

        <tr>
            <td> <label>Cabinet</label> </td>
            <td>
                <select id="cabinet_list" class="w-100">
                    {% for cabinet in  cabinet_list %}
                    <option value="{{ cabinet }}">{{ cabinet }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="cabinet" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="cabinet"></button></td>
        </tr>

        <tr>
            <td> <label>Monitor</label> </td>
            <td>
                <select id="monitor_list" class="w-100">
                    {% for monitor in  monitor_list %}
                    <option value="{{ monitor }}">{{ monitor }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="monitor" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="monitor"></button></td>
        </tr>

        <tr>
            <td> <label>Mouse</label> </td>
            <td>
                <select id="mouse_list" class="w-100">
                    {% for mouse in  mouse_list %}
                    <option value="{{ mouse }}">{{ mouse }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="mouse" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="mouse"></button></td>
        </tr>

        <tr>
            <td> <label>Keyboard</label> </td>
            <td>
                <select id="keyboard_list" class="w-100">
                    {% for keyboard in  keyboard_list %}
                    <option value="{{ keyboard }}">{{ keyboard }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="keyboard" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="keyboard"></button></td>
        </tr>

        <tr>
            <td> <label>Speakers</label> </td>
            <td>
                <select id="speakers_list" class="w-100">
                    {% for speakers in  speakers_list %}
                    <option value="{{ speakers }}">{{ speakers }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="speakers" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="speakers"></button></td>
        </tr>

        <tr>
            <td> <label>Webcam</label> </td>
            <td>
                <select id="webcam_list" class="w-100">
                    {% for webcam in  webcam_list %}
                    <option value="{{ webcam }}">{{ webcam }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="" id="webcam" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="webcam"></button></td>
        </tr>

        <tr>
            <td align="center" colspan="2"><button id="reset" class="btn btn-warning"
                onclick="reset_form()"><i class="fa fa-times" aria-hidden="true"></i> Reset</button></td>
            <td align="center" colspan="2"><button id="submit" class="btn btn-success"
                onclick="submit_data()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button></td>
        </tr>
        
    </table>

    <!-- Modal HTML embedded directly into document -->
    <div id="ex1" class="modal" style="height: auto;">
        <div id="qr-scanner" ></div><br>
        <!-- <a href="#" rel="modal:close" class="btn btn-danger">Close</a> -->
    </div>
    
</body>
<script>
    function validateCustodian(element){
        pattern = /^PR\d{5}$/i
        if (pattern.test(element.value)){
            $("#custodian-alert").hide();
             $("#submit").removeAttr("disabled");
        }
        else{
            $("#custodian-alert").show();   
            $("#submit").attr("disabled", true);
        }
    }


    function validatePONumber(element){
        pattern = /^PRAA\d{14}$|PRAA\d{4}E\d{9}$/i
        if (pattern.test(element.value)){
            $("#po-alert").hide();
             $("#submit").removeAttr("disabled");
        }
        else{
            $("#po-alert").show();
            $("#submit").attr("disabled", true);
        }
    }

    function signout() {
            window.location.replace('/logout');
    }

    function sendData(url, method, data=null) {
        var xhr = new XMLHttpRequest();
        xhr.open(method, url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                response = JSON.parse(xhr.response);
                Swal.fire({
                    icon: 'success',
                    width: "100%",
                    html : `<object id="report_pdf" type="application/pdf" style="width:100%;height:500px;" data="data:application/pdf;base64,${response["data"]}"></object>`,
                    title: 'Asset Id Generated!',
                }).then(function(){
                    // download qr code image
                    // download(document.getElementById("qrcode").src, "qrcode.png", "img/png");

                    // download pdf
                    download(document.getElementById("report_pdf").data, response["filename"], "application/pdf");
                });
                
            }
            else if (xhr.readyState === 4 && xhr.status === 400)
            {
                var json = JSON.parse(xhr.responseText);
                console.log(json);
                
                $.each(json, function(i, item){
                    $(`#${i}`).css("border-color","red");
                });
            

                Swal.fire({
                    icon: 'error',
                    text: json["msg"],
                    confirmButtonColor: "#0275d8"
                });
            }

        };
        
        xhr.send(data);
    }

    function submit_data(){

        reset_input_color();
        
        data = {
            "custodian-payroll" :   $("#custodian-payroll").val(),
            "custodian-email"   :   $("#custodian-email").val(),
            "custodian-name"    :   $("#custodian-name").val(),
            "custodian-mobile"  :   $("#custodian-mobile").val(),
            "coins-po-number"   :   $("#coins-po-number").val(),
            "gem-po-number"     :   $("#gem-po-number").val(),
            "cpu"               :   [ $("#cpu_list").val(),         $("#cpu").val() ],
            "motherboard"       :   [ $("#motherboard_list").val(), $("#motherboard").val() ],
            "ram"               :   [ $("#ram_list").val(),         $("#ram").val() ],
            "hdd"               :   [ $("#harddisk_list").val(),    $("#hdd").val() ],
            "ssd"               :   [ $("#harddisk_list").val(),    $("#ssd").val() ],
            "smps"              :   [ $("#smps_list").val(),        $("#smps").val() ],
            "cabinet"           :   [ $("#cabinet_list").val(),     $("#cabinet").val() ],
            "monitor"           :   [ $("#monitor_list").val(),     $("#monitor").val() ],
            "mouse"             :   [ $("#mouse_list").val(),       $("#mouse").val() ],
            "keyboard"          :   [ $("#keyboard_list").val(),    $("#keyboard").val() ],
            "speakers"          :   [ $("#speakers_list").val(),    $("#speakers").val() ],
            "webcam"            :   [ $("#webcam_list").val(),      $("#webcam").val() ],
            "deo"               :   "{{current_user.username}}",  // getting username from flask
        }
        // console.log(data);
        sendData("/add_data", "POST", JSON.stringify(data))
    }

    function reset_input_color(){
        $("[data-identifer='qrcode-input']").each(
            function(){
                $(this).css("border-color","");
            }
        );
    }

    function reset_form(){
        $("[data-identifer='qrcode-input']").each(
            function(){
                $(this).val(null);
                $(this).css("border-color","");
            }
        );
    }

    function scanCode(element){
        $("#ex1").modal({
            fadeDuration: 100,
            fadeDelay: 0.60
        });

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-scanner", 
            { 
                fps: 15, 
                qrbox: 250 ,
                experimentalFeatures: {
                    useBarCodeDetectorIfSupported: true
                },
                rememberLastUsedCamera: true,
                aspectRatio: 1.7777778
            });

        function onScanSuccess(decodedText, decodedResult) {
            // console.log(`Code scanned = ${decodedText}`, decodedResult);
            console.log(`Code scanned = ${decodedText}`);
            $(`#${element.getAttribute("data-input")}`).val(
                $(`#${element.getAttribute("data-input")}`).val()+";"+ decodedText);

            html5QrcodeScanner.clear();
            $.modal.close();
        }
        
        html5QrcodeScanner.render(onScanSuccess);
    }

</script>

</html>