<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>PRL CIMS</title>
    
    
    <link rel="stylesheet" href="static/styles/bootstrap.css"/>
    <link rel="stylesheet" href="static/styles/fontawesome/all.min.css"/>
    <link rel="stylesheet" href="static/styles/fontawesome/fontawesome.min.css"/>
    <link rel="stylesheet" href="static/styles/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="static/styles/jquery_multiselect.css"/>
    <link rel="stylesheet" href="static/styles/jquery.modal.min.css" />

    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="static/js/sweetalert2@11.js"></script>
    <script src="static/js/jquery.modal.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <style>
        html,
        body {
            background-image: url("static/img/background.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .table_layout {
            margin: auto;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 10px;
        }

        td {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        input,
        select {
            border-radius: 5px;
            border-width: 2px;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1 class="text-white p-2">PRL CIMS</h1>

    <table class="table_layout" id="items-table">
        <tr>
            {% block content %}
            <td >
                <h3><span class="text-primary"><i class="fa fa-user" aria-hidden="true"></i> {{ current_user.username[0]|upper}}{{ current_user.username[1:]}}</span></h3>
            </td>
            <td align="right" colspan="2">
                <button class="btn btn-danger" onclick="signout()"><i class="fas fa-sign-out-alt"></i> Sign Out</button>
            </td>
            {% endblock %}
        </tr>
        <tr>
            <td><label>Custodian Pay Roll</label></td>
            <td><input  oninput="validateCustodian(this)" style="text-transform: uppercase" type="text" name="" id="custodian" data-identifer="qrcode-input"></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="custodian"></button></td>
        </tr>
            <td colspan="3">
                <div class="alert alert-danger collapse text-center" role="alert" id="custodian-alert" >
                    Invalid Pay Roll Number !
                </div>
            </td>
        <tr>
            <td><label>PO No.</label></td>
            <td><input oninput="validatePONumber(this)" style="text-transform: uppercase" type="text" name="" id="po-number" data-identifer="qrcode-input"></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="po-number"></button></td>
        </tr>
        </tr>
            <td colspan="3">
                <div class="alert alert-danger collapse text-center" role="alert" id="po-alert">
                    Invalid PO Number !
                </div>
            </td>
        <tr>
        <tr>
            <td><label>CPU</label></td>
            <td><input type="text" name="" id="cpu" data-identifer="qrcode-input"></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="cpu"></button></td>
        </tr>
        <tr>
            <td> <label>Motherboard</label> </td>
            <td><input type="text" name="" id="motherboard" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="motherboard"></button></td>
        </tr>
        <tr>
            <td> <label>RAM</label> </td>
            <td><input type="text" name="" id="ram" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="ram"></button></td>
        </tr>
        <tr>
            <td> <label>HDD</label> </td>
            <td><input type="text" name="" id="hdd" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="hdd"></button></td>
        </tr>
        <tr>
            <td> <label>SSD</label> </td>
            <td><input type="text" name="" id="ssd" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="ssd"></button></td>
        </tr>
        <tr>
            <td> <label>SMPS</label> </td>
            <td><input type="text" name="" id="smps" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="smps"></button></td>
        </tr>
        <tr>
            <td> <label>Cabinet</label> </td>
            <td><input type="text" name="" id="cabinet" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="cabinet"></button></td>
        </tr>
        <tr>
            <td> <label>Monitor</label> </td>
            <td><input type="text" name="" id="monitor" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="monitor"></button></td>
        </tr>
        <tr>
            <td> <label>Mouse & Keyboard</label> </td>
            <td><input type="text" name="" id="mousekey" data-identifer="qrcode-input"/></td>
            <td><button onclick="scanCode(this)" class="scan-qr-btn fa fa-camera fa-lg btn btn-primary " data-input="mousekey"></button></td>
        </tr>
        <tr>
            <td align="center"><button id="reset" class="btn btn-warning"
                onclick="reset_form()"><i class="fa fa-times" aria-hidden="true"></i> Reset</button></td>
            <td align="center" colspan="2"><button id="submit" class="btn btn-success"
                onclick="submit_data()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button></td>
        </tr>
    </table>

    <!-- Modal HTML embedded directly into document -->
    <div id="ex1" class="modal" style="height: auto;">
        <div id="qr-scanner" ></div><br>
        <!-- <a href="#" rel="modal:close" class="btn btn-danger">Close</a> -->
    </div>
    
</body>
<script>
    function validateCustodian(element){
        pattern = /^PR\d{5}$/i
        if (pattern.test(element.value)){
            $("#custodian-alert").hide();
             $("#submit").removeAttr("disabled");
        }
        else{
            $("#custodian-alert").show();   
            $("#submit").attr("disabled", true);
        }
    }


    function validatePONumber(element){
        pattern = /^PRAA\d{14}$|PRAA\d{4}E\d{9}$/i
        if (pattern.test(element.value)){
            $("#po-alert").hide();
             $("#submit").removeAttr("disabled");
        }
        else{
            $("#po-alert").show();
            $("#submit").attr("disabled", true);
        }
    }

    function signout() {
            window.location.replace('/logout');
    }

    function sendData(url, method, data=null) {
        var xhr = new XMLHttpRequest();
        xhr.open(method, url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 201) { 
                Swal.fire(
                    'Success!',
                    'Data Added!',
                    'success'
                );
            }
            else if (xhr.readyState === 4 && xhr.status === 400)
            {
                var json = JSON.parse(xhr.responseText);
                console.log(json);
                
                $.each(json, function(i, item){
                    $(`#${i}`).css("border-color","red");
                });
            

                Swal.fire({
                    icon: 'error',
                    text: json["msg"],
                    confirmButtonColor: "#0275d8"
                });
            }

        };
        
        xhr.send(data);
    }

    function submit_data(){

        reset_input_color();
        
        data = {
            "custodian"     :   $("#custodian").val(),
            "po-number"     :   $("#po-number").val(),
            "cpu"           :   $("#cpu").val(),
            "motherboard"   :   $("#motherboard").val(),
            "ram"           :   $("#ram").val(),
            "hdd"           :   $("#hdd").val(),
            "ssd"           :   $("#ssd").val(),
            "smps"          :   $("#smps").val(),
            "cabinet"       :   $("#cabinet").val(),
            "monitor"       :   $("#monitor").val(),
            "mousekey"      :   $("#mousekey").val(),
            "deo"           :   "{{current_user.username}}",  // getting username from flask
        }

        sendData("/add_data", "POST", JSON.stringify(data))
    }

    function reset_input_color(){
        $("[data-identifer='qrcode-input']").each(
            function(){
                $(this).css("border-color","");
            }
        );
    }

    function reset_form(){
        $("[data-identifer='qrcode-input']").each(
            function(){
                $(this).val(null);
                $(this).css("border-color","");
            }
        );
    }

    function scanCode(element){
        $("#ex1").modal({
            fadeDuration: 100,
            fadeDelay: 0.60
        });

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-scanner", 
            { 
                fps: 15, 
                qrbox: 250 ,
                experimentalFeatures: {
                    useBarCodeDetectorIfSupported: true
                },
                rememberLastUsedCamera: true,
                aspectRatio: 1.7777778
            });

        function onScanSuccess(decodedText, decodedResult) {
            // console.log(`Code scanned = ${decodedText}`, decodedResult);
            console.log(`Code scanned = ${decodedText}`);
            $(`#${element.getAttribute("data-input")}`).val(
                $(`#${element.getAttribute("data-input")}`).val()+";"+ decodedText);

            html5QrcodeScanner.clear();
            $.modal.close();
        }
        
        html5QrcodeScanner.render(onScanSuccess);
    }

</script>

</html>